
@{
    ViewData["Title"] = "HomePage";
    Layout = "~/Views/Shared/_GiangDayLayout.cshtml";
}

<div style="display: flex; justify-content: center; align-items: center; height: 100%; background-image: url('../../wwwroot/images/backgroundHomePage.jpg'); background-size: cover; background-position: center;">
    <h1 style="color: lightskyblue; font-size: 4em; text-shadow: 2px 2px #000; z-index: 1;">Giảng viên số</h1>
</div>